.title{
  font-family: 'Merriweather', serif;
  color: black;
  font-size: 30px;
  margin-top: 10%;
}

.coffee{
  width: 60%;
  margin-top: 2%
}

.left{
  text-align: center;
}

button{
  width: 45%;
  height: 50px;
  margin-bottom: 2%;
}

.buttongrp{
  margin-top: 4%
}

.top{
  border-color: #1455B6;
  border-width: 3px;
  color: #1455B6;
  font-family: 'Merriweather', serif;
  font-size: 15px;
}

.top:hover{
  background-color: #1455B6;
  border-color: #1455B6;
}

.bottom:hover{
  background-color: #1455B6;
  border-color: #1455B6;
}

.bottom{
  border-color: #1455B6;
  border-width: 3px;
  color: #1455B6;
  font-family: 'Merriweather', serif;
  font-size: 15px;
}

.right{
  background-color: #1455B6;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: white;
}

.subtitle{
  font-size: 28px;
  margin-top: 10%;
}

.tablebox{
  background-color: white;
  border-radius: 15px;
  margin: 3% 5% 5% 5%;
  padding: 3% 3% 3% 3%;
  color: black;
  font-family: 'Poppins', sans-serif;
}

th{
  border-bottom: 2px;
  border-style: solid;
  border-color: #8c8c8c;
  font-family: 'Merriweather', serif;
}

td{
  border-bottom: 1px;
  border-style: solid;
  border-color: #ddddd;
  font-size: 15px;
  text-align: left;
}

.booktitle{
  padding-left: 7%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.formbookid{
  text-align: center;
}

.delete{
  text-align: center;
}

.close-icon{
  width: 18px;
}
